/* Credit to https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Custom */

body {
  height: 100%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 960px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #1b244a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 36px 48px;
  border-radius: 16px;
  box-shadow: 6px 6px 5px #f94f6d;
}

h1 {
  color: black;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 48px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 16px;
}

.score {
  width: 155px;
  height: 120px;
  background-color: #080001;
  color: #f94f6d;
  margin-bottom: 24px;
  font-size: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "Cursed Timer ULiL", sans-serif;
}

.score-actions {
  display: flex;
  justify-content: space-between;
}

.score-actions button {
  border-radius: 5px;
  color: #9aabd8;
  background-color: inherit;
  border: 2px solid currentColor;
  cursor: pointer;
  font-family: "Cursed Timer ULil", sans-serif;
}
